---
import "../styles/global.css";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
        href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet"
        />
    </head>
    <body>
        <div class="grid-canvas">
			<span class="v" style="--x: 63%; --w: 3px;"></span>

			<span class="h" style="--y: 50%; --w: 3px;"></span>
    	</div>
        <section class="akce" id="akce-page">
            <div class="akce-bg"></div>
            <h2 class="akce-title">AKCE</h2>
            <img src="/bunkr.png" class="bunkr" />
            <div class="akce-page">
                <div class="akce-public">
                    <h3 class="public-title">PUBLIC</h3>
                    <p class="public-info">Zde najdete veškeré info o akci, které pořadatel určil jako veřejné.</p>
                </div>
                <div class="akce-secret">
                    <h3 class="secret-title">SECRET</h3>
                    <input class="secret-input" type="password" placeholder="SECRET KOD">
                </div>
            </div>
        </section>
    </body>
</html>


<style>
    .akce{
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: flex;
        overflow: hidden;
    }
    .akce-bg{
        position: absolute;
        width: 100svw;
        height: 100svh;
        opacity: 0.02;
        background: url("/bg.jpeg");
        z-index: 0; 
        background-size: cover;
    }
    .akce-title{
        font-size: 12rem;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    .bunkr{
        position: absolute;
        z-index: -1;
        bottom: -60px;
        right: -70px;
        width: 450px;
        opacity: 0.8;
    }
    .akce-page{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

    }
    .akce-public{
        height: 50%;
        padding-left: 40px;
        font-size: 4rem;
    }
    .akce-secret{
        padding-left: 40px;
        font-size: 4rem;
    }
    .secret-input{
        width: 60%;
        height: 60px;
        margin-top: 60px;
        border: 3px solid black;
        background-color: #c00;
        padding: 8px;
        position: relative;
        z-index: 50;
        cursor: text;
        font-size: 2rem;
    }
    .secret-input::placeholder{
        color: rgba(0,0,0,0.75); /* darker */
        opacity: 1;              /* important for Firefox */
    } 
    .public-info{
        text-transform: uppercase;
        font-size: 2.4rem;
        max-width: 50%;
    }
</style>